.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: start;
    background-color: #f8fafc;
}

.product-card .image {
    position: relative;

}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

.product-card .image::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);

}

.product-card h2 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}


.product-card p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.product-card label {
    margin-right: 10px;
    font-weight: bold;
}

.product-card .quantity-input {

    width: 50px;
    text-align: center;
    margin: 5px;
}

.product-card .increment {
    width: 30px;
    height: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.product-card .decrement {
    width: 30px;
    height: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;

}


.product-card .add-to-cart {
    width: 40%;
    min-width: 20%;
    background-color: #001f4d;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    border: 2px solid #fff;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    transform: scale(1);
}

.product-card .add-to-cart:hover {
    background-color: #001f4d;
    transform: scale(1.05);
}

.product-card .add-to-cart:active {
    background-color: #000a1a;
    transform: scale(0.95);
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    text-align: center;
}

.specs {
    text-align: center;
}

/* Media queries */

@media screen and (max-width: 576px) {
    .product-card {
        padding: 10px;
    }

    .product-card h2 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .product-card img {
        height: 150px;
        margin-bottom: 10px;
    }

    .product-card p {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .product-card .quantity-input {
        width: 40px;
        margin: 3px;
    }

    .product-card .add-to-cart {
        width: 60%;
        min-width: 30%;
        padding: 8px;
        margin-top: 10px;
    }
}